{% load i18n %}

<form action="{% url 'set_language' %}" method="post" class="flex items-center w-full sm:w-auto">
    {% csrf_token %}
    <div class="relative w-full">
        <select
            name="language"
            onchange="this.form.submit()"
            class="select select-sm bg-white border border-slate-200 text-slate-700 font-bold text-xs rounded-lg h-9 pl-3 pr-8 w-full sm:w-24 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-50 transition-all cursor-pointer"
        >
            {% get_current_language as CURRENT_LANG %}
            {% get_available_languages as LANGUAGES %}

            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == CURRENT_LANG %}selected{% endif %}>
                    {{ lang.0|upper }}
                </option>
            {% endfor %}
        </select>

    </div>
</form>